nav {
  z-index: 30;
  position: relative;
  height: 60px;
  background-color: #0e0c0f;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: monospace;
  font-size: 18px;
}

.active {
  color: $site-accent;
  text-decoration: underline;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #fff;
}
nav a:hover {
  text-decoration: underline;
}
